/**
 * Author : Aymeric Rouvrais
 * Desc : Vertical window on the left
 * From : Theme inspired by simple-tokyonight
 * Link : github: https://github.com/newmanls/rofi-themes-collection
 */

@import "catppuccin_macchiato"

window {
  location : northwest;
  width:        300px;
  padding:      5px;
  border:       1px;
  border-color: @bg2;
  children:   [ horibox ];
}

horibox {
  children:   [ entry, listview ];
}

listview {
  spacing:    5px;
  lines:      100;
}

entry {
  expand:     false;
  width:      3em;
}

element {
  padding: 4px 8px;
  spacing: 8px;
}

element {
  padding: 0px 2px;
}

element selected {
  text-color       : @bg1;
  background-color : @accent;
}

element normal urgent {
  text-color: @urgent;
}

element normal active, element alternative active {
  text-color: @accent;
}

element-text, element-icon {
  background-color: inherit;
  text-color: inherit;
}
